@model IEnumerable<TaskStore.Models.Store>

@{
    ViewData["Title"] = "Upload";
}

<form asp-action="Upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="xmlFile">Выберите XML или Json файл:</label>
        <input type="file" name="file" class="form-control-file" id="xmlFile">
    </div>
    <button type="submit" class="btn btn-primary">Загрузить</button>
</form>


<form asp-action="ExportToCsv">
    <button type="submit" class="btn btn-secondary">Экспорт в CSV</button>
</form>